Source: kldap
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 3.0~),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.35.0~),
               libkf5completion-dev (>= 5.35.0~),
               libkf5doctools-dev (>= 5.35.0~),
               libkf5i18n-dev (>= 5.35.0~),
               libkf5kio-dev (>= 5.35.0~),
               libkf5mbox-dev (>= 5.3.1~),
               libkf5widgetsaddons-dev (>= 5.35.0~),
               libldap2-dev,
               libsasl2-dev,
               pkg-kde-tools (>> 0.15.15),
               qtbase5-dev,
Standards-Version: 4.1.2
Homepage: https://projects.kde.org/projects/kde/pim/kldap
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/applications/kldap.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/applications/kldap.git

Package: kio-ldap
Architecture: any
Multi-Arch: no
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: kdepimlibs-kio-plugins, kf5-kdepimlibs-kio-plugins, ${kde-l10n:all}
Breaks: kdepimlibs-kio-plugins, kf5-kdepimlibs-kio-plugins, ${kde-l10n:all}
Description: library for accessing LDAP - development files
 This is a library for accessing LDAP with a convenient Qt style C++ API.
 LDAP (Lightweight Directory Access Protocol) is an application protocol
 for querying and modifying directory services running over TCP/IP.
 .
 This package contains the KIO slave.

Package: libkf5ldap-dev
Architecture: any
Multi-Arch: same
Depends: libkf5ldap5 (= ${binary:Version}),
         libldap2-dev,
         libsasl2-dev,
         qtbase5-dev,
         ${misc:Depends},
Replaces: kdepimlibs-kio-plugins, kf5-kdepimlibs-kio-plugins, ${kde-l10n:all}
Breaks: kdepimlibs-kio-plugins,
        kf5-kdepimlibs-kio-plugins,
        libkf5libkdepim-dev (<< 4:17.08),
        ${kde-l10n:all},
Description: library for accessing LDAP - development files
 This is a library for accessing LDAP with a convenient Qt style C++ API.
 LDAP (Lightweight Directory Access Protocol) is an application protocol
 for querying and modifying directory services running over TCP/IP.
 .
 This package contains the development files.
Section: libdevel

Package: libkf5ldap-doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Breaks: kf5-kdepimlibs-kio-plugins, ${kde-l10n:all}
Replaces: kf5-kdepimlibs-kio-plugins, ${kde-l10n:all}
Description: library for accessing LDAP (documentation)
 This is a library for accessing LDAP with a convenient Qt style C++ API.
 LDAP (Lightweight Directory Access Protocol) is an application protocol
 for querying and modifying directory services running over TCP/IP.
 .
 This package contains the documentation files.

Package: libkf5ldap5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: accountwizard (<< 4:17.08),
        kf5-kdepimlibs-kio-plugins,
        libkf5incidenceeditor5 (<< 17.08),
        libkf5libkdepim-plugins (<< 4:17.08),
        libkf5libkdepim5 (<< 4:17.08),
        ${kde-l10n:all},
Replaces: kf5-kdepimlibs-kio-plugins, ${kde-l10n:all}
Description: library for accessing LDAP
 This is a library for accessing LDAP with a convenient Qt style C++ API.
 LDAP (Lightweight Directory Access Protocol) is an application protocol
 for querying and modifying directory services running over TCP/IP.
 .
 This package is part of the KDE Development Platform PIM libraries module.
